

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #dbeafe, #f0fdfa);
}


.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.navbar input {
  padding: 12px 16px;
  border-radius: 999px;
  border: none;
  background: #f1f3f5;
  width: 250px;
}


.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  height: calc(100vh - 80px);
}


.filters {
  background: rgba(255,255,255,0.7);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.map-area {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}


#map {
    width: 800px;
    height: 800px;
 border: silver 2px dashed;
}

button {
  border: none;
  padding: 14px 22px;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.25s ease;
}

.btn-primary {
  background: linear-gradient(135deg, #0072ff, #00c6ff);
  color: white;
  box-shadow: 0 8px 20px rgba(0,114,255,0.25);
}

.btn-primary:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 12px 30px rgba(0,114,255,0.35);
}

/* POPULAR SPOTS */
.cards-wrapper {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.section-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}


.cards {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}


.card {
  min-width: 260px;
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(12px);
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


.card h3 {
  margin: 0 0 5px;
}

.card p {
  margin-bottom: 12px;
  color: #555;
}
